[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pyrebase4 = "*"
djangorestframework = "*"
firebase-admin = "*"
django-cors-headers = "*"
drf-yasg = "*"


